[Unit]
Description=Upload Frontpage metrics to Cloudflare every minute

[Timer]
OnCalendar=*-*-* *:*:50 UTC
AccuracySec=1ms
Unit=frontpage-metrics-upload.service

[Install]
WantedBy=timers.target
