[Unit]
Description=Run Frontpage VPS metrics collector every minute

[Timer]
OnBootSec=30s
OnCalendar=*-*-* *:*:00
AccuracySec=1ms
Unit=frontpage-metrics-collector.service

[Install]
WantedBy=timers.target
